body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
     display: flex;
    justify-content: center;
    align-items: center;
      height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background: white;
    padding: 20px;
     border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    max-width: 90%; 
     /* display: flex;
    align-items: center;
    justify-content: center; */
    
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
  }
  
  .task-form input {
    padding: 10px;
    font-size: 16px;
     border: 1px solid #007bff;
    border-radius: 3px;
     margin-bottom: 10px; 
  }
  
  .task-form button {
    padding: 10px;
      background: #007bff;
    color: white;
     border: none;
     border-radius: 3px;
    cursor: pointer;
  }
  
  .task-form button:hover {
    background: #0056b3;
  }
  
  .task-list {
    padding: 0;
  }
  
  .task-item {
    background: white;
    padding: 10px;
    border: 1px solid rgb(190, 180, 180);
     border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-item.completed {
    text-decoration: line-through;
    color: gray;
  }
  
  .task-buttons button {
    margin-left: 5px;
    background: rgb(190, 180, 180);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .task-buttons button:hover {
    background: rgb(160, 155, 155);
  }
  

  
  @media (max-width: 768px) {
    .todo-container {
      width: 80%; 
    }
  }
  
  @media (max-width: 480px) {
    .todo-container {
      width: 90%; 
    }
  }
  